h1
  text-align: center
  font-size: 30px
  color: #fff
  margin: 0 0 5px 0

.color-white
  color: white

#simulator
  width: auto
  margin: auto
  border: solid 1px #ccc
  border-radius: 10px
  position: relative
  background: #fff

  &.dark
    background: #333

  #commands
    height: 100%
    border-right: solid 1px #ccc
    padding: 5px 0 5px 5px
    max-height: 550px
    overflow-y: scroll
    top: 2px

    .caret
      position: absolute
      display: none
      width: 1px
      height: 1.35em
      background: #000
      transform: translate(0px, 2px)
      //transition: .1s ease
      animation-name: blink
      animation-iteration-count: infinite
      opacity: 0
      animation-timing-function: linear
      animation-duration: .8s


  #real-commands
    position: absolute
    top: 0
    left: 3px
    width: calc(100% - 4px)
    height: calc(100% - 4px)
    overflow-y: scroll
    overflow-x: hidden
    background: transparent
    color: transparent
    border: none
    resize: none
    white-space: pre-wrap
    overflow-wrap: break-word

.top
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%
  border-bottom: solid 1px #ccc
  height: 550px

.left
  flex: 0 0 266px
  max-width: 266px

.center-log
  flex: 0 0 141px
  max-width: 141px

.center:not(.center-log)
  flex: 0 0 79px
  max-width: 79px

.right
  flex: 0 0 410px
  max-width: 410px

.left
  align-self: stretch
  position: relative

@keyframes blink
  from
    opacity: 0
  50%
    opacity: 1
  to
    opacity: 0

.comment
  color: #9c9c9c !important

  *
    color: #9c9c9c !important


.command
  color: #008500

.number
  color: #0000ff

.inner-command
  white-space: pre-wrap
  margin: 0
  display: inline-block

.center
  border-right: solid 1px #ccc
  overflow-y: auto
  max-height: 549px

  .title
    border-bottom: solid 1px #ccc
    padding: 5px
    text-align: center
  align-self: stretch

.memory-row
  padding: 7px
  display: flex
  align-items: center
  justify-content: space-between
  border-bottom: solid 1px #ccc

  &:last-child
    border: none

  .memory-cell
    text-align: center

    .label
      margin-bottom: -3px
      font-size: 10px

    .value
      border: solid 1px #ccc
      padding: 3px 5px
      margin: 3px
      border-radius: 3px
      font-size: 12px


.filled
  background: rgba(0, 133, 0, .2)

.bottom
  display: flex
  align-items: center
  justify-content: flex-start
  width: 100%
  padding: 10px 0

  input[type=text]
    width: 4em
    text-align: right

  .mt
    margin-top: 10px

  .inner-flex
    display: flex
    flex-direction: column
    position: relative
    padding: 0 10px
    align-self: stretch
    justify-content: flex-start

    &:last-child:after
      content: none

    &:after
      content: ''
      background: #ccc
      width: 1px
      position: absolute
      right: 0
      top: 0
      bottom: 0


button
  outline: none
  background: #fff
  border: solid 1px #ccc
  padding: 3px 10px
  border-radius: 5px
  cursor: pointer

  &:hover
    background: #e7e7e7


.log-item
  font-size: 12px
  padding: 4px

  &.error
    color: red

  &.success
    color: #008500


.current
  background: #c6caff66

#commands
  .inner-command
    text-decoration: inherit

  .selected
    font-weight: bold
    text-decoration: underline

input[type=text]
  border: solid 1px #ccc
  border-radius: 5px
  padding: 3px 5px

.stopped
  color: red

.running
  color: green

.stop
  background: rgba(255, 0, 0, .1)

.bottom-right
  position: absolute
  right: 15px
  bottom: 10px

.top-right
  position: absolute
  right: 15px
  top: 10px

.top-left
  position: absolute
  left: 15px
  top: 10px

a
  color: inherit

.labels
  display: flex
  width: 900px
  margin: auto
  padding: 5px 0 13px 0
  position: relative
  top: 8px
  background: #2c2c79
  border-top-left-radius: 10px
  border-top-right-radius: 10px

  > div
    border: none
    text-align: center
    color: white

#simulator.dark
  color: white

  button, input
    background: transparent
    color: white

  .command, .error, .stopped
    color: orangered

  .number, .success, .running, .current
    color: aquamarine

  .memory-cell .value.current
    background: white
    color: #333

  .memory-cell .value.filled:not(.current)
    background: #7fffd482

  #commands .caret
    background: #fff


.memory-cell .value.negative
  border-color: red

.memory-cell .value
  cursor: pointer
  position: relative

  &:hover
    .tooltip
      transform: translate3d(-50%, -120%, 0)
      opacity: 1

  .tooltip
    position: absolute
    top: 0
    left: 50%
    transform: translate3d(-50%, -115%, 0)
    background: #333
    color: white
    font-size: 10px
    padding: 3px 5px
    border-radius: 5px
    opacity: 0
    transition: .3s ease
    white-space: nowrap

.memory-cell .value.selected
  font-weight: bold
  text-decoration: underline
